*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */

input,
button {
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1110px;
    max-width: calc(100% - 48px);

    margin-left: auto;
    margin-right: auto;
}

/* Index */
.main-container {
    background: linear-gradient(135deg, #5c6cff, #954bff);
}

.nav-list {
    padding: 20px;
    text-align: center;
    font-size: 0;
}

.item {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 12px;
    border-radius: 99px;

    font-size: 1.6rem;
    color: white;
    cursor: pointer;
}

.item:hover {
    background: #d1c7ee;
    color: #1f1c24;
}

/* CV */
.cv-content {
    display: flex;

    margin: 50px 0;
    background: #f6f4f4;
}

.sidebar {
    max-width: 30%;
    padding: 58px 30px;

    font-size: 1.4rem;
    line-height: 1.6;
    color: #fff;
    background: #414141;
}

.sidebar__group::after {
    margin: 30px 0 30px;
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #fff;
}

.sidebar__group:last-child::after {
    display: none;
}

.sidebar__profile {
    margin-bottom: 20px;
    text-align: center;
}

.profile__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.sidebar__heading {
    margin-bottom: 8px;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
}

.about__text {
    line-height: 1.8;
}

.link__item + .link__item {
    margin-top: 8px;
}

.link__label {
    display: block;
    font-size: 1.45rem;
    font-weight: 500;
}

.link__href {
    margin-top: 5px;
    font-size: 1.3rem;
}

.link__href:hover {
    text-decoration: underline;
}

.references__item + .references__item {
    margin-top: 18px;
}

.reference__info + .reference__info {
    margin-top: 4px;
}

.reference__name {
    font-size: 1.45rem;
    font-weight: 500;
}

.reference__info > strong {
    font-weight: 600;
    font-style: normal;
}

.reference__title,
.reference__phone,
.reference__email {
    font-size: 1.3rem;
    font-style: italic;
}

/* Main CV   */
.main-content {
    padding: 70px 30px;
    color: #5f6060;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: #525454;
}

.main-header__left {
    margin-top: -5px;
}

.main-header__name {
    font-size: 5rem;
    font-weight: 650;
}

.main-header__title {
    margin-top: 15px;
    font-size: 1.8rem;
    font-weight: 500;
}

.main-header__right {
    font-size: 1.4rem;
}

.contact__item + .contact__item {
    margin-top: 14px;
}

.contact__text {
    margin-left: 8px;
}

.section__group {
    margin-top: 30px;
}

.section__group::before {
    margin-bottom: 15px;
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #a2a4a4;
}

.section__heading {
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    color: #3b3c3c;
}

.education__item {
    line-height: 1.5;
}

.education__item:nth-of-type(2) {
    margin-top: 14px;
}

.education__institution {
    margin-bottom: 2px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #4c4d4d;
}

.education__degree {
    font-weight: 450;
    margin-bottom: 2px;
    color: #5f6060;
}

.education__dates {
    font-size: 1.5rem;
    color: #5f6060;
}

.skills__list {
    padding-left: 10px;
}

.skills__item + .skills__item {
    margin-top: 8px;
}

.skills__item {
    line-height: 1.6;
}

.work-experience__item + .work-experience__item {
    margin-top: 20px;
}

.work-experience__dates {
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.7rem;
    font-weight: 550;
    color: #343535;
}

.work-experience__role {
    font-size: 1.6rem;
    font-weight: 450;
    color: #5f6060;
}

.work-experience__role > strong {
    font-weight: 700;
}

.work-experience__responsibilities {
    margin-top: 12px;
    padding-left: 10px;
}

.responsibility__item {
    margin-bottom: 8px;
    line-height: 1.6;
}

.responsibility__item::before,
.skills__item::before {
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;

    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #5f6060;
}

.responsibility__item:last-child {
    margin-bottom: 0;
}

/* Pricing Table */
.pricing-wrapper {
    min-height: 100vh;
    background: linear-gradient(to bottom, #e2d8f7, #f3effb, #f7f4fb);
}

.pricing-container {
    padding: 50px 0;
}

.pricing-header {
    margin-top: 20px;
    text-align: center;
}

.pricing-heading {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.7;
}

.pricing-intro {
    max-width: 700px;
    margin: 25px auto 30px;

    font-size: 1.8rem;
    line-height: 1.5;
    color: #7d798a;
}

.plan-blocks {
    margin-top: 60px;

    display: flex;
    justify-content: space-between;
}

.plan-block {
    max-width: 32%;
    padding: 25px 20px;

    font-size: 1.6rem;
    background: #fff;
    border: 1.2px solid rgba(168, 163, 184, 0.4);
    border-radius: 20px;

    cursor: pointer;
    transition: 0.25s;
}

/* Hover */
.plan-block:hover {
    transform: translateY(-18px);
}

.plan-block:hover,
.plan-block.active {
    border: 2px solid #7c4af9;
    box-shadow: 7px -10px 24px rgba(124, 74, 249, 0.2);
}

.plan-block:hover .plan-item::before,
.plan-block.active .plan-item::before {
    color: #7c4af9;
}

.plan-block:hover .plan-subscribe,
.plan-block.active .plan-subscribe {
    background: #7c4df5;
    color: #fff;
}

.active .plan-label {
    box-shadow: 0 8px 24px rgba(124, 74, 249, 0.2);
}

.plan-intro {
    padding-bottom: 10px;
}

.plan-intro::after,
.plan-detail::after {
    display: inline-block;
    content: '';
    height: 1px;
    width: 100%;
    background: rgba(168, 163, 184, 0.4);
}

.plan-label {
    padding: 6px 12px;
    background: #7c4af9;
    border-radius: 10px;

    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}

.plan-desc {
    margin-top: 22px;
    min-height: 55px;

    font-size: 1.25rem;
    line-height: 1.5;
    color: #7d798a;
}

.plan-price {
    margin-top: 20px;
    line-height: 50px;
}

.plan-price {
    font-size: 1.25rem;
    font-weight: 450;
    color: #7d798a;
}

.plan-price > strong {
    margin-right: 4px;

    font-size: 3rem;
    font-weight: 600;
    color: #1c1e21;
}

.plan-detail {
    margin-top: 10px;
    padding-bottom: 20px;
}

.plan-list {
    min-height: 220px;
}

.plan-item {
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 1.2;
}

.plan-item + .plan-item {
    margin-top: 15px;
}

.plan-item::before {
    content: '✓';
    font-weight: 400;
    margin-right: 8px;
    color: #352f49;
}

.plan-subscribe {
    display: block;
    padding: 12px 20px;
    width: 100%;

    font-weight: 550;
    text-align: center;
    border: 1.2px solid rgba(168, 163, 184, 0.4);
    border-radius: 10px;
    cursor: pointer;
}

/* Product List */
.product-list-content {
    padding: 40px 0;
    color: #3a474e;
}

.section-heading {
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.filter-group {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.filter-icon {
    width: 20px;
    height: 20px;
}

.filter-btn {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    min-width: 50px;
    padding: 0 16px;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 36px;
    border-radius: 99px;

    background: rgb(245, 246, 246);
    color: inherit;

    cursor: pointer;
}

.product-count {
    font-size: 1.4rem;
}

.product-list {
    margin-top: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 15px;
}

.product-card {
    position: relative;

    width: 18%;
    padding: 10px 12px;

    border: 1.2px solid rgba(168, 163, 184, 0.4);
    border-radius: 20px;
}

.product-img {
    width: 100%;
    height: 160px;
    object-fit: contain;
}

.product-label {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 35px;
}

.product-info {
    margin: 20px 0 20px;
    min-height: 105px;
}

.product-price {
    font-size: 2.4rem;
    line-height: 1.16;
    font-weight: 500;
}

.product-unit {
    margin-top: 2px;
    display: block;
    font-size: 1.2rem;
    line-height: 1.6;
}

.product-name {
    display: inline-block;
    margin-top: 8px;
    font-size: 1.35rem;
    line-height: 1.8;
    cursor: pointer;
}

.product-name:hover {
    text-decoration: underline;
}

.btn {
    display: block;
    /* margin-top: 20px; */
    padding: 0 16px;
    width: 100%;

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 42px;

    border-radius: 10px;
    cursor: pointer;
}

.btn-add {
    background: rgb(23, 136, 65);
    color: #fff;
}

.btn-add:hover {
    background: #126c34;
}

.btn-save {
    margin-top: 10px;
    border: 1px solid #3a474e;
}

.btn-save:hover {
    background: #f5f6f6;
    color: #616c71;
    border-color: #616c71;
}

/* Register Layout */
.form__layout {
    min-height: 100vh;
    padding: 50px 60px;
    background: linear-gradient(120deg, #e0c3fc 0%, #84b8eb 100%);
    color: white;
}

.form-container {
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.form__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 40px;
    width: 40%;
    border-radius: 20px;
    background: linear-gradient(135deg, #40286e, #8f2e9d);
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__label {
    font-size: 4rem;
    font-weight: 600;
}

.header__back-link {
    display: block;
    padding: 15px 20px;
    border-radius: 99px;

    font-size: 1.4rem;
    background: #7166b1;
}

.header__back-link:hover {
    box-shadow: 2px -3px 26px 0px rgba(133, 125, 133, 0.4);
}

.header__bottom {
    margin-bottom: 20px;
}

.header__caption {
    max-width: 210px;
    margin: 0 auto;
    font-size: 2rem;
    line-height: 1.6;
}

.header__caption > span {
    padding-left: 4px;
}

.dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dot {
    display: inline-block;
    width: 22px;
    height: 3px;
    border-radius: 99px;
    background: #7166b1;
}

.active {
    width: 26px;
    background: #fff;
}

.form__right {
    flex-grow: 1;
    padding: 45px 50px;
}

.form__header {
    margin-bottom: 40px;
    text-align: center;
}

.form__heading {
    font-size: 4rem;
    font-weight: 500;
    color: #4e4c53;
}

.form__title {
    margin-top: 20px;
    color: #4e4c53;
}

.form__login {
    color: #4e4282;
    text-decoration: underline;
}

.form {
    padding: 20px 50px;
}

.form__group {
    margin-bottom: 25px;
}

.form__label {
    display: block;
    margin-bottom: 10px;

    font-size: 1.8rem;
    font-weight: 450;
    color: #4e4c53;

    cursor: pointer;
}

.form__input {
    display: block;
    width: 100%;
    padding: 14px 15px;

    font-size: 1.6rem;
    border-radius: 10px;
    background: rgba(71, 66, 89, 0.2);
}

.form__term-condition {
    display: flex;
    align-items: center;
    gap: 5px;
}

.term-condition-input {
    width: 18px;
    height: 18px;

    cursor: pointer;
}

.term-condition-label {
    margin-bottom: 0;
    font-size: 1.5rem;
    color: #4e4c53;
}

.btn-account {
    margin-top: 20px;
    width: 100%;
    padding: 14px 15px;

    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    border-radius: 10px;
    background: #9952ae;

    cursor: pointer;
}
